html, body {
    margin: 0;
}
body {
    background-color: #fdfdfd;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: -10px;
    background-color: aquamarine;
}
.main {
    width: 100%;
    display: flex;
    flex-flow: column;
}
.menu {
    display: flex;
    width: 15%;
    background-color: rgb(171, 245, 245);
}
ul {
    padding-left: 0px;
}
li {
    list-style-type: none;
    position: inherit;
}
.header {
    display: flex;
    background-color: rgb(5, 108, 108);
    min-height: 150px;
}
.header img {
    position: inherit;
    display: flex;
    width: 100%;
    margin: 0px;
    padding-left: 0;
}
.header figcaption {
    position: absolute;
    text-align: center;
    width:max-content;
    font-size: 40px;
    color: aquamarine;
    text-shadow: 0px 5px 5px black;
}
.content {
    background-color: rgb(209, 245, 245);
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(183, 165, 245);
    min-height: 40px;
    height: 10px;
    text-align:center;
}
